<div class="main-add" style="background: #FFFFFF;">
	<div class="row" style="padding: 2%; margin: 0px "> 
		<div class="col-3">
			<img src="/images/today_product.png" style="width:100%; height: auto;">
		</div>
		<div class="col-1"> 
		</div>
	</div>
</div>

<%# 상품 페이지 1행 main_good1의 데이터 사용%>
<div class="row" style="padding: 2%; margin: 0px ">
	<% goodslist.forEach(function(item, i){ %>
		<div class="col-3 product">
			<img src="/images/product/1.jpg" style="width:90%;">
			<p><%=item.goo_name%></p>
			<p><%=item.goal_price%> 원</p>
			<p id=time style="font-size:15px"><%=leftTime[i].split(':')[0]%>일 <%=leftTime[i].split(':')[1]%>시간 <%=leftTime[i].split(':')[2]%>분 남음</p>
			<div style="text-align:center;">
				<button type="button" class="btn">응모하기</button>
			</div>
		</div>
 	<%})%>
</div>

	